.menu {
  background-color: #2980B9;
  color: #FFF;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
ul {
  padding: 0px;
  min-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
li {
  list-style: none;
  color: #FFF;
}